@font-face {
  font-family: 'OldStandardTT';
  src: url('~/assets/fonts/old-standard-tt/OldStandardTT-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OldStandardTT';
  src: url('~/assets/fonts/old-standard-tt/OldStandardTT-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OldStandardTT';
  src: url('~/assets/fonts/old-standard-tt/OldStandardTT-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}